 {
	"blog.cursus.teaser":  {
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_rlayout": "teaser",
					"_link_text": "",
					"_subrelation": "",
					"_excludeitself": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"order":  {
					"_core": "_itemaccess",
					"_cursusdatum": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
				},
				"element": "5f1f6af8-812f-4102-b970-6216a153bad7"
			}
		}
	},
	"blog.cursus.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5dc7c1b6-6186-463c-9ba1-03d967c28d18"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "7552ba93-f805-43e4-8641-d92b0c22ab6f"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_rlayout": "related",
					"_link_text": "",
					"_subrelation": "",
					"_excludeitself": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[, ]",
					"_by_custom": "",
					"_class": ""
				},
				"order":  {
					"_core": "_itemaccess",
					"_cursusdatum": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
				},
				"element": "5f1f6af8-812f-4102-b970-6216a153bad7"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_prefix": "",
					"_suffix": "",
					"_max_car": "",
					"_max_car_mode": "1",
					"_max_car_suffix": "..."
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "3c6bdba2-f21f-4a0c-9a05-182c2fb23ec1"
			}
		}
	},
	"blog.cursus.related":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout": "",
				"information": "",
				"marker_popup": "0",
				"main_icon": "red-dot",
				"zoom_level": "13",
				"map_controls": "0",
				"scroll_wheel_zoom": "1",
				"map_type": "0",
				"type_controls": "0",
				"directions": "0",
				"width_unit": "%",
				"width": "100",
				"height": "300",
				"element": "893bf60b-1a5a-4374-978b-467c6132453e"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5dc7c1b6-6186-463c-9ba1-03d967c28d18"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "7552ba93-f805-43e4-8641-d92b0c22ab6f"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "Details",
				"element": "_itemlink"
			}
		}
	},
	"blog.cursusdatum.teaser":  {
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_date_format": "custom",
					"_custom_format": "%A %d %B '%y"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[<br \/>]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_label": "Boek direct",
					"_complete_label": "Reeds geboekt",
					"_action": "cart",
					"_avoid_readd": "1"
				},
				"element": "5cb8ecf2-93bf-4a3e-9957-d46fd75a2997"
			}
		}
	},
	"blog.cursusdatum.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_date_format": "%A, %d %B %Y",
					"_custom_format": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[<br \/>]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_label": "Boek direct",
					"_complete_label": "Reeds geboekt",
					"_action": "cart",
					"_avoid_readd": "1"
				},
				"element": "5cb8ecf2-93bf-4a3e-9957-d46fd75a2997"
			}
		}
	},
	"blog.cursusdatum.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemprevnext"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_date_format": "%A, %d %B %Y",
					"_custom_format": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[<br \/>]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_label": "Boek direct",
					"_complete_label": "Reeds geboekt",
					"_action": "cart",
					"_avoid_readd": "1"
				},
				"element": "5cb8ecf2-93bf-4a3e-9957-d46fd75a2997"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php"
				},
				"element": "1fe28a05-2138-40d9-bc5d-ddaeba6153de"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_rlayout": "related",
					"_link_text": "",
					"_subrelation": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"order":  {
					"_core": "_itemaccess",
					"_cursus": ""
				},
				"element": "f7e5e4b9-e570-4651-b467-c19152a55223"
			}
		}
	},
	"blog.cursus.submission":  {
		"content":  {
			"0":  {
				"altlabel": "Plaatsnaam",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "5dc7c1b6-6186-463c-9ba1-03d967c28d18"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "893bf60b-1a5a-4374-978b-467c6132453e"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "3c6bdba2-f21f-4a0c-9a05-182c2fb23ec1"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"multiple": "0",
				"primary": "0",
				"element": "_itemcategory"
			},
			"1":  {
				"altlabel": "Gepubliceerd",
				"required": "0",
				"element": "_itemstate"
			}
		}
	},
	"blog.cursusdatum.submission":  {
		"content":  {
			"0":  {
				"altlabel": "Naam",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "9acc5a4f-107a-4fc2-b3c7-3b2feefedeb5"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "f7e5e4b9-e570-4651-b467-c19152a55223"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "1fe28a05-2138-40d9-bc5d-ddaeba6153de"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"multiple": "0",
				"primary": "0",
				"element": "_itemcategory"
			},
			"1":  {
				"altlabel": "Gepubliceerd",
				"required": "0",
				"element": "_itemstate"
			}
		}
	},
	"blog.cursusdatum.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "f1fa1c2d-6c79-467d-9140-c39ac9038c44"
			}
		}
	}
}